#injected-app > #injected-sidebar {
    width: 380px !important;
    height: 100vh !important;
    position: fixed;
    right: 0 !important;
    top: 0 !important;

    overflow-x: hidden;

    background-image:  url("chrome-extension://dggckmpdanfomjckhoihbendadcdajoc/img/sidebar/background.png");

    background-color: #5d5d5d;
    background-size: cover;
    box-shadow: -5px 0px 20px 1px rgba(0, 0, 0, 0.69);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    transition: transform 0.3s ease;

    font-family: "Europa" !important;

    z-index: 100000;
}

#injected-app > #injected-sidebar.opened {
    transform: translate(0, 0);
}

#injected-app > #injected-sidebar.closed {
    transform: translate(500px, 0);
}
#injected-app > #injected-sidebar::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

#injected-app > #injected-sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d9d9d9;
}

#injected-app > #injected-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: white;
}


#injected-sidebar > #header-logo{
    flex-grow: 1;

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
}

#injected-sidebar > #header-logo > #svg-con{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#injected-sidebar > #header-logo > #span-con{
    width: 60%;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    font-size: 25pt;
    font-weight: 600;
    color: white;

    padding-left: 6px;

    margin-left: 10px;
}

#injected-sidebar > .signInButton{
    background: red;
}