body {
    background: url("chrome-extension://idmelgaddhbhfggmbpeilenhdjonanon/img/bookmarks/bookmarks-background.png") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#bookmark-base > #bookmark-header{
    width: 100%;
    height: 200px;
    background: red;
}

#bookmark-base > #bookmark-container{
    width: 100%;
    height: calc(100% - 200px);
    background: green;
}

.invisible {
    visibility: hidden;
}
