.btn-barbra {
    font-family: "europa", sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    line-height: 14px;

    height: 100%;

    transition: background-color,color ease-in .1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-barbra:hover {
    background: rgba(237, 237, 237, 0.88);
}

.selected {
    color: #D96D32;
    font-weight: 700;
}

